.portal_profile{
    background-color: white;
    height: 89px;
    width: 100%;
    opacity:0.8;
}
.search_text{
    width: 340px;
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    position: relative;
}
.searchbar{
    width: 340px;
    border: none;
    padding: 8px 0px;
    border-bottom-style: solid;
    border-bottom-color: #c4c9e078;
    font-size: 15px;
    font-family: Verdana;
    outline: none;
    opacity:0.8;
    background: transparent;
}
.studentprofile{
    margin-right: 40px;
    display: flex;
    margin-top: 24px;
}

.studentprofile_account{
    border: 1px solid #283655;
}

.studentprofile_account_icon{
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
}

.name{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-family: Verdana;
    font-size: 16px;
    opacity: 0.8;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.logout{
    margin-left: 20px;
    border: 1px solid #283655;
}