<div class="portal_profile">
        <div style="display: flex;justify-content: space-between; width: 100%;">
            <div class="search_text">
                <input type="text" placeholder="Search for projects, courses" class="searchbar">
                <div style="position: absolute;margin-left: 315px;">
                    <img src="../assets/search_icon.png" width="20px" height="20px"
                        style="opacity: 0.3;margin-top: 8px;">
                </div>
            </div>
            <div class="studentprofile">
                <div><img src="../assets/StudentProfile_Image.png" width="50px" height="38px"></div>
              <div class="name"> Srivedaa Ch</div>
                   <div class="name logout_img"><a routerLink="/login" routerLinkActive="active" style="text-decoration: none;
                    color:white;"><img src="../assets/logout.png" width="35px" height="29px"></a></div>
            </div>
        </div>
    </div>