<div class="reminders">
        <div class="reminder_display">
            <div class="new_rem"></div>
            <div class="text">Reminder:</div>
            <div class="rem_text">SWE 622 Lecture 10 recording is available in the course context</div>
            <div class="rem_text time">1 hour ago</div>
        </div>
    
        <div class="reminder_display display2">
            <div class="text">Alert:</div>
            <div class="rem_text">You missed your swe625 assignment due yesterday</div>
            <div class="rem_text time">2 hours ago</div>
        </div>
    
        <div class="reminder_display display2">
            <div class="text">Deadline:</div>
            <div class="rem_text">SWE 632 project assignment due is on May 8th</div>
            <div class="rem_text time">1 Day ago</div>
        </div>
    
        <div class="reminder_display display2">
            <div class="text">Deadline:</div>
            <div class="rem_text">SWE 632 project assignment due is on May 8th</div>
            <div class="rem_text time">1 Day ago</div>
        </div>
    
    </div>
    