<div style="display:flex;background-color: #8a9fbda6;height: 807px;overflow: hidden;">
    <app-header></app-header>
    <div>
        <app-heading></app-heading>
        <div style="display:flex;justify-content: space-between;">
            <div>
                <div class="blogs">
                    <div class="container">
                        <div class="profile_blog">
                            <div style="display:flex;">
                                <div><img src="../assets/bookmark.png" class="bookmark"></div>
                                <div class="project_title">Software Engineering 632</div>
                            </div>
                            <div class="project_desc">User Interface Design and Development</div>
                            <div>
                                <div style="display: flex;margin-left: 25px;">
                                    <div class="prof_details">
                                        <div class="professor_img"><img src="../assets/prof_course.png"
                                                class="prof_img"></div>
                                    </div>
                                    <div class="prof_name">
                                        <div class="desig">Professor: </div>
                                        <div class="prof_name_display">Laurel Fielding</div>

                                    </div>
                                </div>
                                <div class="gta">
                                    <div class="desig">GTA: </div>
                                    <div class="prof_name_display">David Gonzalez</div>

                                </div>
                                <div class="location_info">
                                    <div class="location_img">
                                        <div class="professor_img"><img src="../assets/location.png" class="loc_img">
                                        </div>
                                    </div>
                                    <div class="desig">Location: </div>
                                    <div class="prof_name_display">Peterson Hall 1105</div>

                                </div>
                            </div>
                            <div class="tasks_display">
                                <div class="task_profile">
                                    <div class="std_profile time_left">
                                        <div class="img_profile days_left_no"><img src="../assets/assignment.png"
                                                class="discussion_img"></div>
                                        <div class="project_desc disc_no">Syllabus</div>
                                    </div>

                                    <div class="std_profile time_left" style="border:0px;">
                                        <div class="img_profile days_left_no" style="color:green">40</div>
                                        <div class="days_left">STUDENTS REGISTERED</div>
                                    </div>

                                </div>
                            </div>
                            <div class="upload_btn"><a href="/swe632"><button type="submit" value="view all" class="viewall">COURSE
                                    INFO</button></a></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="profile_blog">
                            <div style="display:flex;">
                                <div><img src="../assets/bookmark.png" class="bookmark"></div>
                                <div class="project_title">Computer Science 583</div>
                            </div>
                            <div class="project_desc">Analysis of Algorithms</div>
                            <div style="display: flex;margin-left: 25px;">
                                <div class="prof_details">
                                    <div class="professor_img"><img src="../assets/prof_course.png" class="prof_img">
                                    </div>
                                </div>
                                <div class="prof_name">
                                    <div class="desig">Professor: </div>
                                    <div class="prof_name_display">Fei Li</div>

                                </div>
                            </div>
                            <div class="gta">
                                <div class="desig">GTA: </div>
                                <div class="prof_name_display">N/A</div>

                            </div>
                            <div class="location_info">
                                <div class="location_img">
                                    <div class="professor_img"><img src="../assets/location.png" class="loc_img"></div>
                                </div>
                                <div class="desig">Location: </div>
                                <div class="prof_name_display">Engineering Building</div>

                            </div>
                            <div class="tasks_display">
                                <div class="task_profile">
                                    <div class="std_profile time_left">
                                        <div class="img_profile days_left_no"><img src="../assets/assignment.png"
                                                class="discussion_img"></div>
                                        <div class="project_desc disc_no">Syllabus</div>
                                    </div>

                                    <div class="std_profile time_left" style="border:0px;">
                                        <div class="img_profile days_left_no" style="color:green">46</div>
                                        <div class="days_left">STUDENTS REGISTERED</div>
                                    </div>

                                </div>
                            </div>
                            <div class="upload_btn"><a href="/swe632"><button type="submit" value="view all" class="viewall">COURSE
                                    INFO</button></a></div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="profile_blog">
                            <div style="display:flex;">
                                <div><img src="../assets/bookmark.png" class="bookmark"></div>
                                <div class="project_title">Software Engineering 632</div>
                            </div>
                            <div class="project_desc">User Interface Design and Development</div>
                            <div style="display: flex;margin-left: 25px;">
                                <div class="prof_details">
                                    <div class="professor_img"><img src="../assets/prof_course.png" class="prof_img">
                                    </div>
                                </div>
                                <div class="prof_name">
                                    <div class="desig">Professor: </div>
                                    <div class="prof_name_display">Laurel Fielding</div>

                                </div>
                            </div>
                            <div class="gta">
                                <div class="desig">GTA: </div>
                                <div class="prof_name_display">David Gonzalez</div>

                            </div>
                            <div class="location_info">
                                <div class="location_img">
                                    <div class="professor_img"><img src="../assets/location.png" class="loc_img"></div>
                                </div>
                                <div class="desig">Location: </div>
                                <div class="prof_name_display">Peterson Hall 1105</div>

                            </div>
                            <div class="tasks_display">
                                <div class="task_profile">
                                    <div class="std_profile time_left">
                                        <div class="img_profile days_left_no"><img src="../assets/assignment.png"
                                                class="discussion_img"></div>
                                        <div class="project_desc disc_no">Syllabus</div>
                                    </div>

                                    <div class="std_profile time_left" style="border:0px;">
                                        <div class="img_profile days_left_no" style="color:green">40</div>
                                        <div class="days_left">STUDENTS REGISTERED</div>
                                    </div>

                                </div>
                            </div>
                            <div class="upload_btn"><a href="/swe632"><button type="submit" value="view all" class="viewall">COURSE
                                    INFO</button></a></div>
                        </div>
                    </div>


                </div>

                <!-- start of 2nd blog -->

                <div class="blogs" style="padding-bottom:0px;">
                    <div class="container" style="margin-top:15px;">
                        <div class="profile_blog">
                            <div style="display:flex;">
                                <div><img src="../assets/bookmark.png" class="bookmark"></div>
                                <div class="project_title">Software Engineering 632</div>
                            </div>
                            <div class="project_desc">User Interface Design and Development</div>
                            <div style="display: flex;margin-left: 25px;">
                                <div class="prof_details">
                                    <div class="professor_img"><img src="../assets/prof_course.png" class="prof_img">
                                    </div>
                                </div>
                                <div class="prof_name">
                                    <div class="desig">Professor: </div>
                                    <div class="prof_name_display">Laurel Fielding</div>

                                </div>
                            </div>
                            <div class="gta">
                                <div class="desig">GTA: </div>
                                <div class="prof_name_display">David Gonzalez</div>

                            </div>
                            <div class="location_info">
                                <div class="location_img">
                                    <div class="professor_img"><img src="../assets/location.png" class="loc_img"></div>
                                </div>
                                <div class="desig">Location: </div>
                                <div class="prof_name_display">Peterson Hall 1105</div>

                            </div>
                            <div class="tasks_display">
                                <div class="task_profile">
                                    <div class="std_profile time_left">
                                        <div class="img_profile days_left_no"><img src="../assets/assignment.png"
                                                class="discussion_img"></div>
                                        <div class="project_desc disc_no">Syllabus</div>
                                    </div>

                                    <div class="std_profile time_left" style="border:0px;">
                                        <div class="img_profile days_left_no" style="color:green">40</div>
                                        <div class="days_left">STUDENTS REGISTERED</div>
                                    </div>

                                </div>
                            </div>
                            <div class="upload_btn"><a href="/swe632"><button type="submit" value="view all" class="viewall">COURSE
                                    INFO</button></a></div>
                        </div>
                    </div>


                    <div class="container" style="margin-top:15px;">
                        <div class="profile_blog">
                            <div style="display:flex;">
                                <div><img src="../assets/bookmark.png" class="bookmark"></div>
                                <div class="project_title">Software Engineering 632</div>
                            </div>
                            <div class="project_desc">User Interface Design and Development</div>
                            <div style="display: flex;margin-left: 25px;">
                                <div class="prof_details">
                                    <div class="professor_img"><img src="../assets/prof_course.png" class="prof_img">
                                    </div>
                                </div>
                                <div class="prof_name">
                                    <div class="desig">Professor: </div>
                                    <div class="prof_name_display">Laurel Fielding</div>

                                </div>
                            </div>
                            <div class="gta">
                                <div class="desig">GTA: </div>
                                <div class="prof_name_display">David Gonzalez</div>

                            </div>
                            <div class="location_info">
                                <div class="location_img">
                                    <div class="professor_img"><img src="../assets/location.png" class="loc_img"></div>
                                </div>
                                <div class="desig">Location: </div>
                                <div class="prof_name_display">Peterson Hall 1105</div>

                            </div>
                            <div class="tasks_display">
                                <div class="task_profile">
                                    <div class="std_profile time_left">
                                        <div class="img_profile days_left_no"><img src="../assets/assignment.png"
                                                class="discussion_img"></div>
                                        <div class="project_desc disc_no">Syllabus</div>
                                    </div>

                                    <div class="std_profile time_left" style="border:0px;">
                                        <div class="img_profile days_left_no" style="color:green">40</div>
                                        <div class="days_left">STUDENTS REGISTERED</div>
                                    </div>

                                </div>
                            </div>
                            <div class="upload_btn"><a href="/swe632"><button type="submit" value="view all" class="viewall">COURSE
                                    INFO</button></a></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>