<div style="display:flex;background-color: #8a9fbda6;height: 807px;overflow: hidden;">
    <app-header></app-header>
    <div style="width: 1190px;">
        <div class="title_display">
            <div class="title">User Interface Design and Development</div>
            <div class="studentprofile">
                <div><img src="../assets/grad_cap.png" width="50px" height="38px"></div>
                <div class="name">John Doe</div>
            </div>
        </div>
        <div style="display:flex;">
            <div>
                <div class="blogs">
                    <div class="grade_profile">
                        <div class="text">Current Grade</div>
                        <div class="text grade">A</div>
                    </div>
                    <div class="grade_profile">
                        <div class="text">Assignments Done</div>
                        <div class="text grade">13</div>
                    </div>
                    <div class="grade_profile">
                        <div class="text">Assignments Left</div>
                        <div class="text grade">1</div>
                    </div>
                    <div class="grade_profile">
                        <div class="text">Days Remaining</div>
                        <div class="text grade">10</div>
                    </div>
                </div>
                <div class="blogs course_label">
                    <div class="container">
                        <div class="profile_blog">
                            <div style="display:flex;">
                                <div class="project_title">Upcoming course milestones</div>
                            </div>
                            <div class="course1">
                                <div class="subject_display">
                                    <div>
                                        <div class="day">May</div>
                                        <div class="date">08</div>
                                    </div>
                                    <div class="subject_details">Project Submission due</div>
                                </div>
                            </div>
                            <div class="course1">
                                <div class="subject_display">
                                    <div>
                                        <div class="day">May</div>
                                        <div class="date">15</div>
                                    </div>
                                    <div class="subject_details">Final Exam - Take Home</div>
                                </div>
                            </div>
                            <div class="course1">
                                <div class="subject_display">
                                    <div>
                                        <div class="day">May</div>
                                        <div class="date">18</div>
                                    </div>
                                    <div class="subject_details">Oral Exam - Entire Syllabus</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course_progress">
                        <div class="profile_blog course_blog">
                            <div style="display:flex;">
                                <div class="project_title">Professor Information</div>
                            </div>
                            <div style="display: flex;margin-left: 15px;">
                                <div class="prof_details">
                                    <div class="professor_img"><img src="../assets/prof_course.png" class="prof_img">
                                    </div>
                                </div>
                                <div class="prof_name">
                                    <div class="desig">Professor: </div>
                                    <div class="prof_name_display">Laurel Fielding</div>

                                </div>

                            </div>
                            <div class="gta">
                                <div class="desig">Email </div>
                                <div class="prof_name_display" style="cursor: pointer;">lfieldin@gmu.edu</div>

                            </div>
                            <div class="gta">
                                <div class="desig">GTA: </div>
                                <div class="prof_name_display">David Gonzalez</div>

                            </div>
                            <div class="gta">
                                <div class="desig">Class Hours: </div>
                                <div class="prof_name_display">Fridays 4:30pm to 7:10pm</div>

                            </div>
                            <div class="gta">
                                <div class="desig">Prerequisite: </div>
                                <div class="prof_name_display">SWE619</div>

                            </div>

                            <div class="location_info">
                                <div class="location_img">
                                    <div class="professor_img"><img src="../assets/location.png" class="loc_img">
                                    </div>
                                </div>
                                <div class="desig">Location: </div>
                                <div class="prof_name_display">Peterson Hall 1105</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="grades_display">
                    <div class="project_title">Recent Assignment Grades</div>
                    <div class="percent">
                        <div class="assign">Assignment 9</div>
                        <div class="grades">
                            <div class="skills html">90%</div>
                        </div>
                    </div>
                    <div class="percent">
                        <div class="assign">Assignment 8</div>
                        <div class="grades">
                            <div class="skills css">80%</div>
                        </div>
                    </div>

                    <div class="percent">
                        <div class="assign">Assignment 7</div>
                        <div class="grades">
                            <div class="skills js">65%</div>
                        </div>
                    </div>

                    <div class="percent">
                        <div class="assign">Assignment 6</div>
                        <div class="grades">
                            <div class="skills php">60%</div>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
            <app-reminders></app-reminders>
        </div>
        <div>
        </div>