<div class="mainCss">
    <app-header></app-header>
    <div style="width: 100%;">
        <div class="title_display">
            <div class="title">Database Systems</div>
            <div class="studentprofile">
                <div><img src="../assets/grad_cap.png" width="50px" height="38px"></div>
                <div class="name">John Doe</div>
            </div>
        </div>
        <div style="display:flex;">
            <div style="width:76%">
                <div class="blogs">
                    <div class="grade_profile">
                        <div class="text">Current Grade</div>
                        <div class="text grade">A+</div>
                    </div>
                    <div class="grade_profile">
                        <div class="text">Assignments Done</div>
                        <div class="text grade">16</div>
                    </div>
                    <div class="grade_profile">
                        <div class="text">Assignments Left</div>
                        <div class="text grade">1</div>
                    </div>
                    <div class="grade_profile">
                        <div class="text">Days Remaining</div>
                        <div class="text grade">10</div>
                    </div>
                </div>
                <div class="blogs course_label">
                    <div class="container">
                        <div class="profile_blog">
                            <div style="display:flex;">
                                <div class="project_title">Upcoming course milestones</div>
                            </div>
                            <div class="course1">
                                <div class="subject_display">
                                    <div>
                                        <div class="day">May</div>
                                        <div class="date">10</div>
                                    </div>
                                    <div class="subject_details">Project Presentation</div>
                                </div>
                            </div>
                            <div class="course1">
                                <div class="subject_display">
                                    <div>
                                        <div class="day">May</div>
                                        <div class="date">13</div>
                                    </div>
                                    <div class="subject_details">Project Submission</div>
                                </div>
                            </div>
                            <div class="course1">
                                <div class="subject_display">
                                    <div>
                                        <div class="day">May</div>
                                        <div class="date">16</div>
                                    </div>
                                    <div class="subject_details">Final Exam - Take Home</div>
                                </div>
                            </div>
                         
                        </div>
                    </div>
                    <div class="course_progress">
                        <div class="profile_blog course_blog">
                            <div style="display:flex;">
                                <div class="project_title">Professor Information</div>
                            </div>
                            <div style="display: flex;margin-left: 15px;">
                                <div class="prof_details">
                                    <div class="professor_img"><img src="../assets/prof_course.png" class="prof_img">
                                    </div>
                                </div>
                                <div class="prof_name">
                                    <div class="desig">Professor: </div>
                                    <div class="prof_name_display">Alexandar Brodsky</div>

                                </div>

                            </div>
                            <div class="gta">
                                <div class="desig">Email </div>
                                <div class="prof_name_display" style="cursor: pointer;">brodsky@gmu.edu</div>

                            </div>
                            <div class="gta">
                                <div class="desig">GTA: </div>
                                <div class="prof_name_display">N/A</div>

                            </div>
                            <div class="gta">
                                <div class="desig">Class Hours: </div>
                                <div class="prof_name_display">Tuesdays 7:20pm to 10:00pm</div>

                            </div>
                            <div class="gta">
                                <div class="desig">Prerequisite: </div>
                                <div class="prof_name_display">CS310</div>

                            </div>

                            <div class="location_info">
                                <div class="location_img">
                                    <div class="professor_img"><img src="../assets/location.png" class="loc_img">
                                    </div>
                                </div>
                                <div class="desig">Location: </div>
                                <div class="prof_name_display">Engineering Building</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="grades_display">
                    <div class="project_title">Recent Assignment Grades</div>
                    <div class="percent">
                        <div class="assign">Assignment 16</div>
                        <div class="grades">
                            <div class="skills"style="width: 95%;
                            background-color: #4CAF50;">95%</div>
                        </div>
                    </div>
                    <div class="percent">
                        <div class="assign">Assignment 15</div>
                        <div class="grades">
                            <div class="skills"style="width: 92%;
                            background-color: #4CAF50;">92%</div>
                        </div>
                    </div>

                    <div class="percent">
                        <div class="assign">Assignment 14</div>
                        <div class="grades">
                            <div class="skills" style="width: 85%;
                            background-color: #4CAF50;">85%</div>
                        </div>
                    </div>

                    <div class="percent">
                        <div class="assign">Assignment 13</div>
                        <div class="grades">
                            <div class="skills" style="width: 89%;
                            background-color: #4CAF50;">89%</div>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
            <app-reminders></app-reminders>
        </div>
        <div>
        </div>