<div class="mainCss">
    <app-header></app-header>
    <div style="width: 100%;">
        <app-heading></app-heading>
        <div style="display:flex;justify-content: space-between;">
            <div>
                <div class="blogs">
                        <div class="container">
                                <div class="profile_blog">
                                    <div style="display:flex;">
                                        <div><img src="../assets/bookmark.png" class="bookmark"></div>
                                        <div class="project_title">User Interface Design</div>
                                    </div>
                                    <div class="project_display">
                                        <div class="project_desc">Final Exam - Take Home</div>
                                    </div>
                                    <div class="tasks_display">
                                        <div class="task_profile">
                                            <a routerLink="/discussion" routerLinkActive="active" style="text-decoration: none;color:white;"> <div class="std_profile ">
                                                <div class="img_profile"><img
                                                            src="../assets/discussion.png" class="discussion_img">
                                                </div>
                                                <div class="project_desc disc_no">50</div>
                                            </div></a>
        
                                            <div class="std_profile">
                                                <div class="img_profile"><img src="../assets/assignment.png"
                                                        class="discussion_img">
                                                </div>
                                                <div class="project_desc disc_no">Task</div>
                                            </div>
        
                                            <div class="std_profile std_prof">
                                                <div class="img1"><img src="../assets/group.png" class="discussion_img"></div>
                                                <div class="project_desc disc_no">4</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tasks_display">
                                        <div class="task_profile finish">
                                            <div class="std_profile time_left">
                                                <div class="img_profile days_left_no">2</div>
                                                <div class="days_left">DAYS LEFT</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tasks_display">
                                        <div class="task_profile">
                                            <div class="completed_status">UPCOMING</div>
                                        </div>
                                    </div>
                                    <!-- <div class="upload_btn"><button type="submit" value="view all"
                                            class="viewall">SUBMIT</button></div> -->
                                </div>
                            </div>



                    <div class="container">
                        <div class="profile_blog">
                            <div style="display:flex;">
                                <div><img src="../assets/bookmark.png" class="bookmark"></div>
                                <div class="project_title">Database Systems</div>
                            </div>
                            <div class="project_display">
                                <div class="project_desc">Final Exam - Take Home</div>
                            </div>
                            <div class="tasks_display">
                                <div class="task_profile">
                                    <a routerLink="/discussion" routerLinkActive="active" style="text-decoration: none;color:white;"> <div class="std_profile ">
                                        <div class="img_profile"><img
                                                    src="../assets/discussion.png" class="discussion_img">
                                        </div>
                                        <div class="project_desc disc_no">10</div>
                                    </div></a>

                                    <div class="std_profile">
                                        <div class="img_profile"><img src="../assets/assignment.png"
                                                class="discussion_img">
                                        </div>
                                        <div class="project_desc disc_no">Task</div>
                                    </div>

                                    <div class="std_profile std_prof">
                                        <div class="img1"><img src="../assets/group.png" class="discussion_img"></div>
                                        <div class="project_desc disc_no">1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tasks_display">
                                <div class="task_profile finish">
                                    <div class="std_profile time_left">
                                        <div class="img_profile days_left_no">7</div>
                                        <div class="days_left">DAYS LEFT</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tasks_display">
                                <div class="task_profile">
                                    <div class="completed_status">UPCOMING</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="profile_blog">
                            <div style="display:flex;">
                                <div><img src="../assets/bookmark.png" class="bookmark"></div>
                                <div class="project_title">User Interface Design</div>
                            </div>
                            <div class="project_display">
                                <div class="project_desc">Oral Exam - On Project</div>
                            </div>
                            <div class="tasks_display">
                                <div class="task_profile">
                                    <a routerLink="/discussion" routerLinkActive="active" style="text-decoration: none;color:white;"> <div class="std_profile ">
                                        <div class="img_profile"><img
                                                    src="../assets/discussion.png" class="discussion_img">
                                        </div>
                                        <div class="project_desc disc_no">25</div>
                                    </div></a>

                                    <div class="std_profile">
                                        <div class="img_profile"><img src="../assets/assignment.png"
                                                class="discussion_img">
                                        </div>
                                        <div class="project_desc disc_no">Task</div>
                                    </div>

                                    <div class="std_profile std_prof">
                                        <div class="img1"><img src="../assets/group.png" class="discussion_img"></div>
                                        <div class="project_desc disc_no">4</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tasks_display">
                                <div class="task_profile finish">
                                        <div class="std_profile time_left">
                                                <div class="img_profile days_left_no">9</div>
                                                <div class="days_left">DAYS LEFT</div>
                                            </div>
                                </div>
                            </div>
                            <div class="tasks_display">
                                <div class="task_profile">
                                    <div class="completed_status">UPCOMING</div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <!-- start of 2nd blog -->

                <div class="blogs second">
                    <div class="container">
                        <div class="profile_blog">
                            <div style="display:flex;">
                                <div><img src="../assets/bookmark.png" class="bookmark"></div>
                                <div class="project_title">Analysis of Algorithms</div>
                            </div>
                            <div class="project_display">
                                <div class="project_desc">Final Exam - Take Home</div>
                            </div>
                            <div class="tasks_display">
                                <div class="task_profile">
                                    <div class="std_profile ">
                                        <div class="img_profile"><a href="/discussion"><img
                                                    src="../assets/discussion.png" class="discussion_img"></a>
                                        </div>
                                        <div class="project_desc disc_no">10</div>
                                    </div>

                                    <div class="std_profile">
                                        <div class="img_profile"><img src="../assets/assignment.png"
                                                class="discussion_img">
                                        </div>
                                        <div class="project_desc disc_no">Task</div>
                                    </div>

                                    <div class="std_profile std_prof">
                                        <div class="img1"><img src="../assets/group.png" class="discussion_img"></div>
                                        <div class="project_desc disc_no">2</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tasks_display">
                                <div class="task_profile finish">
                                    <div class="std_profile time_left">
                                        <div class="img_profile days_left_no">10</div>
                                        <div class="days_left">DAYS LEFT</div>
                                    </div>
                                </div>
                            </div>
                            <div class="tasks_display">
                                <div class="task_profile">
                                    <div class="completed_status">UPCOMING</div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>