<div class="mainCss">
    <app-header></app-header>
    <div style="width: 100%;">
        <app-heading></app-heading>
        <div style="display:flex;">
            <div>
                <div class="blogs">
                    <div class="container">
                        <div class="profile_blog">
                            <div style="display:flex;    justify-content: space-between;">
                                <div class="project_title">Projects</div>
                                <div style="    margin-top: 15px;
                                margin-right: 11px;"><a href="/tasks"><button type="submit"
                                            value="view all" class="viewall">VIEW ALL</button></a></div>
                            </div>
                            <div class="pro_display">
                                <div class="fa fa-circle-o circle1"></div>
                                <div class="project_info">Project Submission 632</div>
                            </div>
                            <div class="pro_display">
                                <div class="fa fa-circle-o circle1" style="color:#FFC107;"></div>
                                <div class="project_info">Entity-Relationaship Diagram Student Portal</div>
                            </div>
                            <div class="pro_display">
                                <div class="fa fa-circle-o circle1" style="color: violet;"></div>
                                <div class="project_info">Final Exam - Take Home</div>
                            </div>
                            <div class="pro_display">
                                <div class="fa fa-circle-o circle1" style="color: cadetblue;"></div>
                                <div class="project_info">Oral Exam - Syallabus</div>
                            </div>
                            <div class="pro_display" style="height:31px;">
                                <div class="blocks">
                                    <div style="display:flex;">
                                        <div class="fa fa-square block1" style="color: #FFC107;"></div>
                                        <div class="menu_text block_subject">CS</div>
                                    </div>
                                    <div style="display:flex;">
                                        <div class="fa fa-square block1" style="color: #ff8300;"></div>
                                        <div class="menu_text block_subject">SWE</div>
                                    </div>
                                    <div style="display:flex;">
                                        <div class="fa fa-square block1" style="color: violet;"></div>
                                        <div class="menu_text block_subject">INFS</div>
                                    </div>
                                    <div style="display:flex;">
                                        <div class="fa fa-square block1" style="color: cadetblue;"></div>
                                        <div class="menu_text block_subject">DA</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="profile_blog">
                            <div class="project_title">Events</div>
                            <div class="event_profile">
                                <img src="../assets/grad_icon.jpg" width="30px" height="30px">
                                <div class="project_info" style="font-size: 14px;width: 220px;">Graduation Ceremony<div
                                        style="font-size: 11px;margin-top: 3px;">100 students are going</div>
                                </div>
                                <div class="status" style="background: mediumseagreen;">GOING</div>
                            </div>
                            <div class="event_profile" style="margin-top: 23px;">
                                <img src="../assets/cs_icon.jpg" width="30px" height="30px">
                                <div class="project_info" style="font-size: 14px;width: 220px;">Machine Learning in
                                    System
                                    Health
                                    Monitoring<div style="font-size: 11px;margin-top: 3px;">67 students are going</div>
                                </div>
                                <div class="status status1" style="background: mediumvioletred;">INTERESTED</div>
                            </div>
                            <div class="event_profile" style="margin-top: 23px;">
                                <img src="../assets/deep_learning.jpg" width="30px" height="30px">
                                <div class="project_info" style="font-size: 14px;width: 220px;">Deep Learning Based Time
                                    Series
                                    for
                                    Forecasting
                                    <div style="font-size: 11px;margin-top: 3px;">48 students are going</div>
                                </div>
                                <div class="status" style="background: #ff8300;margin-left: 92px;">FREE</div>
                            </div>
                            <div class="event_profile" style="margin-top: 23px;">
                                <img src="../assets/soccer.jpg" width="30px" height="30px">
                                <div class="project_info" style="font-size: 14px;width: 220px;">Mason Women's Soccer
                                    <div style="font-size: 11px;margin-top: 3px;">176 students are going</div>
                                </div>
                                <div class="status" style="background: mediumseagreen;margin-left: 80px;">GOING</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blogs">
                    <div class="container">
                        <div class="profile_blog">
                            <div style="display:flex;    justify-content: space-between;">
                                <div class="project_title">Courses</div>
                                <div style="    margin-top: 12px;
                                margin-right: 10px;"><a href="/courses"><button
                                            type="submit" value="courses" class="courses">BROWSE COURSES</button></a>
                                </div>
                            </div>
                            <div class="course1">
                                <div class="subject_display">
                                    <div class="subject_details subject_name">User Interface and Design</div>
                                    <div class="subject_details subject_info">Designing for Student Portal phase I</div>
                                    <div class="subject_details subject_stds">43 Students registered</div>
                                </div>
                                <div class="status course_btn">ATTENDING</div>
                            </div>
                            <div class="course1 course2">
                                <div class="subject_display">
                                    <div class="subject_details subject_name">Software Assurance</div>
                                    <div class="subject_details subject_info">Designing software security for sudoko
                                    </div>
                                    <div class="subject_details subject_stds">35 Students registered</div>
                                </div>
                                <div class="status course_btn btn" style="margin-left: 45px;">JOIN</div>
                            </div>
                            <div class="course1 course2">
                                <div class="subject_display">
                                    <div class="subject_details subject_name">Software Distribution</div>
                                    <div class="subject_details subject_info"> Assignment using sockets</div>
                                    <div class="subject_details subject_stds">10 Students registered</div>
                                </div>
                                <div class="status course_btn btn1" style="margin-left: 15px;">WAITLIST</div>
                            </div>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
            <app-reminders></app-reminders>
        </div>
    <div>
</div>