
<div class="mainCss">
        <app-header></app-header>
        <div style="width: 100%;">
                <div class="title_display">
                        <div class="title">Student Profile</div>
                        <div class="studentprofile">
                            <!-- <div><img src="../assets/grad_cap.png" width="50px" height="38px"></div>
                            <div class="name">Srivedaa Ch</div> -->
                            <div class="name"><a routerLink="/login" routerLinkActive="active" style="text-decoration: none;
                                color:white;"><img src="../assets/logout.png" width="35px" height="29px"></a></div>
                        </div>
                    </div>
            <div style="display:flex;">
                <div>
                    <div class="blogs">
                        <div class="profile">
                            <div class="picture">
                                <img src="../assets/StudentProfile_Image.png" width="150px" height="150px">
                            </div>
                            <div class="prof_name">
                                <div class="desig">Name: </div>
                                <div class="prof_name_display">Srivedaa Chinthalapani</div>
                            </div>
                            <div class="prof_name">
                                <div class="desig">Degree: </div>
                                <div class="prof_name_display">Masters</div>
                            </div>
                            <div class="prof_name">
                                <div class="desig">Graduate: </div>
                                <div class="prof_name_display">Software Engineering</div>
                            </div>
                            <div class="prof_name">
                                <div class="desig">Email Id: </div>
                                <div class="prof_name_display">srivedaa@gmail.com</div>
                            </div>
                            <div class="prof_name">
                                <div class="desig">GMU E-mail Address : </div>
                                <div class="prof_name_display">schinth2@gmu.edu</div>
                            </div>
                            <div class="prof_name">
                                <div class="desig">Total Credit: </div>
                                <div class="prof_name_display">30</div>
                            </div>
                            <div class="prof_name">
                                <div class="desig">Credits Covered: </div>
                                <div class="prof_name_display">27</div>
                            </div>
                            <div class="prof_name">
                                <div class="desig">Credits left: </div>
                                <div class="prof_name_display">3</div>
                            </div>
                            <div class="prof_name">
                                <div class="desig">Graduate Advisor: </div>
                                <div class="prof_name_display">Paul Ammann</div>
                            </div>
                        </div>
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        <div>
    </div>