
.title_display{
    padding: 10px;
    background-color: #283655;
    opacity: 0.8;
 
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.picture{
    margin: 40px auto;
}
.profile{
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
.prof_name{
    margin-left: 150px;
    padding-left: 35px;
    display: flex;
    padding-top: 20px;
    width: 500px;
    padding-left: .90278vw;
    font-family: verdana;
}
.desig{
    opacity: 0.7;
    font-weight: 500;
    width: 150px;   
    text-align: left; 
}
.prof_name_display{
    width: auto;
    margin-left: 5px;
    color: #36506f;
    font-size: 16px;
    font-weight: 400;
}
.title{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 767px;
    font-family: verdana;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-left: 160px;
}
.studentprofile{
    margin-top: 12px;
    width: 100px;
    margin-left: 0px;
    display: flex;
}
.name{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-family: Verdana;
    font-size: 16px;
    opacity: 0.8;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.blogs{
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}