
.title_display{
    background-color: #283655;
    opacity: 0.8;
    padding-top: 30px;
    padding-bottom: 18px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.picture{
    margin: 0 auto;
    text-align: center;
    padding-top: 25px;
}
.prof_name{
    padding-left: 35px;
    display: flex;
    padding-top: 20px;
    width: 300px;
    padding-left: .90278vw;
    font-family: verdana;
}
.desig{
    opacity: 0.7;
    font-weight: 500;
}
.prof_name_display{
    width: 175px;
    margin-left: 5px;
    color: #36506f;
    font-size: 16px;
    font-weight: 400;
}
.title{
    width: 767px;
    font-family: verdana;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-left: 160px;
}
.studentprofile{
    width: 200px;
    margin-left: 0px;
    display: flex;
}
.name{
    margin-left: 10px;
    margin-top: 10px;
    font-family: Verdana;
    font-size: 16px;
    font-weight: 300;
    color: white;
    cursor: pointer;
}

.blogs{
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
.container{
    margin-top: 20px;
    cursor: pointer;
    outline: none;
    border: none;
    background: white;
    opacity: 0.8;
    margin-left: 25px;
}
.profile_blog {
    border: 1px solid #e3e3e3;
    box-shadow: 0 6px 0.83333vw 0 rgba(0,0,0,.08);
    width: 425px;
    height: 315px;
}
.project_title{
    margin: 15px;
    opacity: 0.7;
    font-family: Verdana;
    font-weight: 500;
}
.viewall{
    opacity: 0.7;
    background: #36506f;
    border-radius: 7px;
    width: 73px;
    height: 25px;
    color: white;
    outline: none;
    cursor: pointer;
}
.pro_display{
    display: flex;
    padding: 16px 10px;
    border-bottom: 1px solid #a9a9a9a6;
}
.pro_display:hover{
    background: #bdcde2a8;
}
.circle1{
    color:#ff8300;
    margin-left: 20px;
}
.project_info{
    margin-left: 10px;
    font-family: verdana;
    color: #36506f;
    font-size: 15px;
}
.project_info:hover{
    text-decoration: underline;
}
.blocks{
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.menu_text{
    color: #36506f;
    margin-left: 10px;
    font-size: 13px;
}
.event_profile{
    display: flex;
    margin-left: 15px;
}
.status{
    height: 14px;
    margin-left: 80px;
    color: white;
    font-size: 12px;
    padding: 6px;
    background: #ff8300;
    font-family: verdana;
}
.status1{
    margin-left: 46px;
}
.courses{
    opacity: 0.7;
    background: #36506f;
    border-radius: 7px;
    width: 124px;
    height: 28px;
    color: white;
    outline: none;
    cursor: pointer;
}
.course1{
    margin-top: 3px;
    display: flex;
    border-bottom: 1px solid #a9a9a9a6;
}
.course1:hover{
    background: #bdcde2a8;
}
.course2{
    margin-top: 0px;
    background: none;
}
.subject_display{
    padding: 15px;
    width: 298px;
}
.subject_details{
    margin-left: 10px;
    font-family: verdana;
    color: #36506f;
}
.subject_name{
    font-size: 12px;
}
.subject_info {
    font-size: 13px;
    margin-top: 9px;
    font-weight: 600;
    opacity: 0.8;
}
.subject_stds{
    font-size: 10px;
    margin-top: 5px;
}
.course_btn {
    margin-top: 20px;
    background: mediumseagreen;
    margin-left: 2px;
}
.btn {
    background: #ff8300;
}
.btn1{
    background: mediumvioletred;
}
