
<div style="display:flex;background-color: #8a9fbda6;height: 807px;overflow: hidden;">
        <app-header></app-header>
        <div style="width: 1190px;">
                <div class="title_display">
                        <div class="title">Student Profile</div>
                        <div class="studentprofile">
                            <div><img src="../assets/grad_cap.png" width="50px" height="38px"></div>
                            <div class="name">John Doe</div>
                        </div>
                    </div>
            <div style="display:flex;">
                <div>
                    <div class="blogs">
                        <div class="picture">
                            <div>
                            <img src="../assets/grad_cap.png" width="150px" height="150px">
                          
                            </div>
                            <div class="prof_name">
                                    <div class="desig">Name: </div>
                                    <div class="prof_name_display">Srivedaa Chinthalapani</div>

                                </div>
                                <div class="prof_name">
                                        <div class="desig">Degree: </div>
                                        <div class="prof_name_display">Masters</div>
    
                                    </div>
                                    <div class="prof_name">
                                            <div class="desig">Graduate: </div>
                                            <div class="prof_name_display">Software Engineering</div>
        
                                        </div>
                        </div>

                        <!-- <div class="container">
                            <div class="profile_blog">
                                <div style="display:flex;">
                                    <div class="project_title">Projects</div>
                                    <div style="margin-left: 250px;margin-top: 15px;"><a href="/tasks"><button type="submit"
                                                value="view all" class="viewall">VIEW ALL</button></a></div>
                                </div>
                                <div class="pro_display">
                                    <div class="fa fa-circle-o circle1"></div>
                                    <div class="project_info">User design Interface project</div>
                                </div>
                                <div class="pro_display">
                                    <div class="fa fa-circle-o circle1" style="color:#FFC107;"></div>
                                    <div class="project_info">Database Systems</div>
                                </div>
                                <div class="pro_display">
                                    <div class="fa fa-circle-o circle1" style="color: violet;"></div>
                                    <div class="project_info">Analysis of Algorithms</div>
                                </div>
                                <div class="pro_display">
                                    <div class="fa fa-circle-o circle1" style="color: cadetblue;"></div>
                                    <div class="project_info">Software Testing</div>
                                </div>
                                <div class="pro_display" style="height:31px;">
                                    <div class="blocks">
                                        <div style="display:flex;">
                                            <div class="fa fa-square block1" style="color: #FFC107;"></div>
                                            <div class="menu_text block_subject">CS</div>
                                        </div>
                                        <div style="display:flex;">
                                            <div class="fa fa-square block1" style="color: #ff8300;"></div>
                                            <div class="menu_text block_subject">SWE</div>
                                        </div>
                                        <div style="display:flex;">
                                            <div class="fa fa-square block1" style="color: violet;"></div>
                                            <div class="menu_text block_subject">INFS</div>
                                        </div>
                                        <div style="display:flex;">
                                            <div class="fa fa-square block1" style="color: cadetblue;"></div>
                                            <div class="menu_text block_subject">DA</div>
                                        </div>
    
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <router-outlet></router-outlet>
                </div>
            </div>
        <div>
    </div>